.task-item {
    margin-bottom: 22px;
    list-style: none;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.task-item__title {
    color: #5A5A5A;
    font-weight: 400;
}

.inactive {
    opacity: 0.3;
}